@page "/visualizza-opere-piano/{OperaToViewId:guid}"
@inherits ViewOperaBase
@attribute [Authorize(Roles = "Admin, MonitorPlatform")]

<h3>Titolo: </h3>
<p>@OperaToView.Name</p>
<br />
<br />
<img src="@Image.Image" usemap="#opera"/>

<map name="opera"> 
    @foreach(var imageMap in ImageMaps)
    {
        <area shape="@imageMap.ImageMapShape.ToLower()" 
              coords="@GetImageMapCoords(imageMap)" 
              alt="Errore"
              @onclick="() => OnReadDetails(imageMap.Id)"
              target="_blank"
        />
    }
</map>

<br />

<div>
@if (this.ReadDetails)
{
    <ViewOperaDetails ImageMapId="@SelectedImageMapId" />
    <br /> 
    <button class="btn-close" @onclick="ChiudiDettagli"/>
}
</div>

<br />
<br />

<h3>Autore: </h3>
<p>@OperaToView.AuthorFirstName @OperaToView.AuthorLastName</p>

<br />

<h3>Informazioni sull'Opera:</h3><br />
<p>@OperaToView.ItalianDescription</p>


@*<map name="OperaToView"> 
    @foreach(var imageMap in ImageMaps)
    {
        <area shape="@imageMap.ImageMapShape.ToLower()" 
              coords="@Prova(imageMap)" 
              target="_details"
              href="@linkDetails"
              @onclick="() => OnReadDetails(imageMap.Id)"
        >
    }
</map>

<br />

<div>
@if (this.ReadDetails)
{
    <iframe src="@linkDetails" name="_details"> </iframe>
    <br /> 
    <button class="btn-close" @onclick="ChiudiDettagli">Chiudi Dettagli</button>
}
</div>*@