@page "/visualizza-opere-piano/{OperaToViewId:guid}"
@inherits ViewOperaBase
@attribute [Authorize(Roles = "Admin, MonitorPlatform")]
@layout NoNavLayout

<h3>Titolo: </h3>
<p>@OperaToView.Name</p>
<br />
<br />

@*<img id="image" @ref=OperaImage src="@Image.Image" usemap="#opera" />*@

<img hidden=@HideOperaImage id="image" @ref=OperaImage src="@Image.Image" />


<div @onclick="OpenDetails">
    <BECanvas Width="500" Height="500" @ref="_canvasReference"></BECanvas>
</div>

<br />

<p>Clicca sull'immagine per scoprirne i dettagli</p>

@if(!@ScopriDove)
{
    <button class="btn-primary" @onclick="ShowAreas">Scopri le aree selezionabili</button>
}

@if (@ScopriDove)
{
    <button class="btn-outline-primary" @onclick="CancelAreas">Cancella le aree</button>
}

@*@if(! CanvasIsOpen)
{
    <button class="btn-primary" @onclick="OpenCanvasAsync">Scopri Dove</button>
}

@if (CanvasIsOpen)
{
    <BECanvas Width="@ImageWidth" Height="@ImageHeight" @ref="_canvasReference"></BECanvas>
    <button class="btn-close" @onclick="CloseCanvas"></button>
}*@



<map name="opera"> 
    @foreach(var imageMap in ImageMaps)
    {
        <area shape="@imageMap.ImageMapShape.ToLower()" 
              coords="@GetImageMapCoords(imageMap)" 
              alt="Errore"
              @onclick="() => OnReadDetails(imageMap.Id)"
              target="_blank"
        />
    }
</map>

<br />

<div>
@if (this.ReadDetails)
{
    <ViewOperaDetails ImageMapId="@SelectedImageMapId" />
    <br /> 
    <button class="btn-close" @onclick="CloseDetails"></button>
}
</div>

<br />
<br />

<h3>Autore: </h3>
<p>@OperaToView.AuthorFirstName @OperaToView.AuthorLastName</p>

<br />

<h3>Informazioni sull'Opera:</h3><br />
<p>@OperaToView.ItalianDescription</p>


@*<map name="OperaToView"> 
    @foreach(var imageMap in ImageMaps)
    {
        <area shape="@imageMap.ImageMapShape.ToLower()" 
              coords="@Prova(imageMap)" 
              target="_details"
              href="@linkDetails"
              @onclick="() => OnReadDetails(imageMap.Id)"
        >
    }
</map>

<br />

<div>
@if (this.ReadDetails)
{
    <iframe src="@linkDetails" name="_details"> </iframe>
    <br /> 
    <button class="btn-close" @onclick="ChiudiDettagli">Chiudi Dettagli</button>
}
</div>*@