@*@page "/strutture/aggiungi-struttura"*@
@page "/ciao"
@attribute [Authorize(Roles = "Admin")]
@inherits AddBuildingBase

<h4>Aggiungi Struttura</h4>

<div>

    <EditForm Model="@BuildingToAdd" OnSubmit="@AddBuilding">
        <DataAnnotationsValidator />
        <label class="form-label" for="name">Nome Stuttura</label>
        <InputText id="name" @bind-Value="BuildingToAdd.Name" placeholder="ciao" />
        <ValidationMessage For="@(() => BuildingToAdd.Name)" />
        <br />
        <label class="form-label" for="code">Codice Struttura</label>
        <InputText id="code" @bind-Value="BuildingToAdd.BuildingCode" />
        <ValidationMessage For="@(() => BuildingToAdd.BuildingCode)" />
        <br />
        <button class="btn-success" type="submit">Aggiungi Struttura</button>
    </EditForm>


    @*<EditForm Model="@BuildingToAdd" OnSubmit="@AddBuilding">
        <DataAnnotationsValidator />
         <label class="form-label" for="name">Nome Stuttura</label>
         <InputText id="name" @bind-Value="BuildingToAdd.Name" placeholder="ciao" />
         <ValidationMessage For="@(() => BuildingToAdd.Name)" />
         <br />
         <label class="form-label" for="code">Codice Struttura</label>
         <InputText id="code" @bind-Value="BuildingToAdd.BuildingCode"/>
         <ValidationMessage For="@(() => BuildingToAdd.BuildingCode)" />
         <br />
         <button class="btn-success" type="submit">Aggiungi Struttura</button>
    </EditForm>*@
</div>