@page "/strutture/{FatherBuildingId:guid}/piani/{FatherLevelId:guid}/locazioni-opere/{FatherLocationId:guid}/opera/{OperaToDetailId:guid}/descrizioni-dettagliate"
@inherits AddOperaDetailsBase

<h3>Aggiungi Descrizioni Dettagliate</h3>

<div>

    <img id="image" @ref=OperaImage src="@OperaImageToDetail.Image" @onclick="AddImageMapCoordinate"/>

    <div @onclick="AddImageMapCoordinate">
        <BECanvas Width="500" Height="400" @ref="_canvasReference" ></BECanvas>   
    </div>

    @if(this.imageMapCoordinates.Count != 0)
    {
        <button class="btn-outline-info" @onclick="SvuotaCoordinate">Annulla</button>
    }   


    <p>X: @X </p>
    <br />
    <p>Y: @Y</p>
    <br />
    <p>Counter: @Counter</p>

    <br />
    <h5>Aggiungi descrizioni dettagliate su diversi tipi di area:</h5>

    @*@bind="@SelectedImageMapShape"*@
    <select @onchange="ManageShapeSelection">
       @foreach (var shape in ImageMapShapes)
       {
            @if (shape.Equals(ImageMapShapes.First()))
            {
                <option selected>@shape </option>
            }
            else
            {
                <option>@shape </option>
            }
       }
    </select>
    <p>@SelectedImageMapShape</p>
    <br />
    @*<button class="btn-close" @onclick="DeleteLastCoordinate">Indietro</button>*@
</div>




<div>
    <EditForm Model="@ImageMapToAdd" OnSubmit="AddImageMap">
        <DataAnnotationsValidator />
        <label class="form-label" for="title">Titolo descrizione dettagliata:</label>
         <InputText id="title" @bind-Value="ImageMapToAdd.Title"/>
         <ValidationMessage For="@(() => ImageMapToAdd.Title)" />
         <br />
         <label class="form-label" for="description">Descrizione:</label>
         <InputText id="description" @bind-Value="ImageMapToAdd.DetailedDescription"/>
         <ValidationMessage For="@(() => ImageMapToAdd.DetailedDescription)" />
         <br />
         <button class="btn-primary" type="submit">Aggiungi Descrizione</button>
    </EditForm>
</div>

@if(this.OperaImageToDetailImageMaps.Count != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Titolo</th>
                <th>Dettagli</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var imageMap in OperaImageToDetailImageMaps)
            {
                <tr>
                    <td>@imageMap.Name</td>
                    <td>@imageMap.DetailedDescription</td>
                    <td>
                        <button class="btn-danger" @onclick="() => DeleteImageMap(imageMap.Id)">Elimina Descrizione Dettagliata</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-warning">Non sono presenti approfondimenti sull'opera al momento</p>
}


