@page "/strutture/{FatherBuildingId:guid}/piani/{FatherLevelId:guid}/locazioni-opere/{FatherLocationId:guid}/opera/{OperaToModifyId:guid}/modifica-opera"
@attribute [Authorize(Roles = "Admin")]
@inherits ModifyOperaInLocationBase

<h3>Modifica Opera nella Locazione</h3>

<div>
    <img src="@OperaImageToModify.Image"/>
    <EditForm Model="@OperaToModify" OnSubmit="ModifyOpera">
        <DataAnnotationsValidator />
        <label class="form-label" for="image">Immagine Opera</label> 
        <InputFile OnChange="OnUploadedOperaImage" id="image"/>
        <br />
        <label class="form-label" for="opera">Nome Opera</label> 
        <InputText id="opera" @bind-Value="OperaToModify.Name"/>
        <ValidationMessage For="@(() => OperaToModify.Name)" />
        <br />
        <label class="form-label" for="autore">Nome Autore</label> 
        <InputText id="autore" @bind-Value="OperaToModify.AuthorFirstName"/>
        <ValidationMessage For="@(() => OperaToModify.AuthorFirstName)" />
        <br />
        <label class="form-label" for="cognome">Cognome Autore</label> 
        <InputText id="cognome" @bind-Value="OperaToModify.AuthorLastName"/>
        <ValidationMessage For="@(() => OperaToModify.AuthorLastName)" />
        <br />
        <label class="form-label" for="description">Descrizione Opera</label> 
        <InputTextArea id="description" @bind-Value="OperaToModify.ItalianDescription"/>
        <ValidationMessage For="@(() => OperaToModify.ItalianDescription)" />
        <br />
        <button class="btn-success" type="submit">Conferma</button>
    </EditForm>
</div>

